body {
    background-color: #f9f9f9;  /* soft gray */
    font-family: 'Roboto', sans-serif; /* Roboto font */
    color: #414a4c; /* dark gray */
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: 100vh;
    margin: 0;
    padding: 0;
    margin-top: 25vh; /* Moves container content 25% away from the top */
}

.sentiment-container {
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.sentiment-box {
    padding: 20px;
    background-color: #ffffff; /* white */
    border: 1px solid #ccc;
    border-radius: 10px;
    text-align: center;
}
