<body>
    <div class="container">
        <h1>Sentiment analyser for the danish economy</h1>
        The analysis is based on a simple analysis of words used in danish economic, business and financial media.
    </div>

    <div class="sentiment-container">
        <div class="sentiment-box">
            <h2>Total Negative</h2>
            <p>{{ total_negative }}</p>
        </div>
        <div class="sentiment-box">
            <h2>Total Positive</h2>
            <p>{{ total_positive }}</p>
        </div>
    </div>
</body>

