<!DOCTYPE html>
<html>
<head>
    <title>Sentiment Analyser</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css') }}">
</head>
<body>
    <div class="container">
        <h1>Sentiment analyser</h1>
        <p>Analyseværktøjet laver en simpel analyse på ord hos de danske erhvervs og finansnyheder. <br>
        Analysen kan give en ide om hvordan stemningen er omkring økonomien. </p>

        <h2>Negative ord</h2>
        <p>{{ total_negative }}</p>

        <h2>Positive ord</h2>
        <p>{{ total_positive }}</p>
    </div>
     
    <div class="barchart">
        <div id='chart' class='chart'></div>
    </div>
     
    <script src='https://cdn.plot.ly/plotly-latest.min.js'></script>
    <script type='text/javascript'>
        var graphs = JSON.parse('{{ graphJSON | safe }}');
        Plotly.plot('chart', graphs, {});
    </script>

</body>
</html>



